
/*GERAL*/
    *{
        margin: 0;
        padding: 0;
    }

    body{
        font-size: 16px;
    }

/*NAVBAR*/
    /*Geral*/
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: whitesmoke;
            border-bottom: 1px solid black;
            height: 50px;
        }

        nav div{
            display: inline;
        }

    /*Botões*/
        nav button{
            background-color: rgba(0, 0, 0, 0);
            margin: 0px 10px;
            padding: 5px;
            border: none;
            font-size: 1rem;
        }
        
        nav button:hover{
            transform: scale(1.2);
            border-bottom: 2px solid black;

        }

        #nav-logo{
            width: 3rem;
        }

/*AREA DE CONTEUDO*/

    #area-de-conteudo{
        margin: 30px;
    }


/*FOOTER*/
    /*Geral*/
        footer{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: rgb(138, 138, 138);
        }

    /*Texto*/
        #footer-texto{
            max-width: 50vw;
            padding: 10px;
        }

    /*Botões*/
        #footer-btn{
            align-items: center;
            margin: auto;
        }

        #footer-btn button{
            background-color: rgba(0, 0, 0, 0);
            border: none;
            border-bottom: 2px solid black;
            font-size: 1rem;
            margin: 0px 10px;
        }

        #footer-btn button:hover{
            transform: scale(1.2);
            background-color: rgb(202, 202, 202);
        }


